@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 20%, 98%;
    --foreground: 0, 0%, 0%;

    --card: 0, 20%, 98%;
    --card-foreground: 0, 0%, 0%;

    --popover: 0, 20%, 98%;
    --popover-foreground: 0, 0%, 0%;

    --primary: 0, 75%, 37%;
    --primary-foreground: 60, 25%, 92%;

    --secondary: 60, 25%, 92%;
    --secondary-foreground: 0, 75%, 37%;

    --muted: 60, 25%, 92%;
    --muted-foreground: 0, 26%, 22%;

    --accent: 60, 25%, 92%;
    --accent-foreground: 0, 75%, 37%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60, 25%, 92%;

    --border: 60, 25%, 92%;
    --input: 0, 75%, 37%;
    --ring: 0, 0%, 0%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 60, 25%, 92%;

    --card: 0, 0%, 0%;
    --card-foreground: 60, 25%, 92%;

    --popover: 0, 0%, 0%;
    --popover-foreground: 60, 25%, 92%;

    --primary: 0, 48%, 65%;
    --primary-foreground: 0, 74%, 25%;

    --secondary: 0, 74%, 25%;
    --secondary-foreground: 60, 25%, 92%;

    --muted: 0, 26%, 22%;
    --muted-foreground: 0, 30%, 70%;

    --accent: 0, 74%, 25%;
    --accent-foreground: 60, 25%, 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0, 26%, 52%;

    --border: 60, 26%, 12%;
    --input: 0, 74%, 25%;
    --ring: 60, 25%, 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
